body {
    font-family: Arial, sans-serif;
    background-color: #2a2a2a;
    color: #fff;
    margin: 0;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.content-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-bottom: 60px; /* Space for the button */
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 10px;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
}

.item {
    background-color: #1a1a1a;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
}

/* Updated Styles */
.item-img {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.icon-container {
    font-size: 40px;
    position: relative; /* Necessary for absolute positioning of the badge */
}

.badge-container {
    position: absolute;
    top: -5px; /* Adjust as needed for perfect alignment */
    right: -5px; /* Adjust as needed for perfect alignment */
}


.item p {
    margin: 3px 0;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 5px;
    width: 100%;
}

.item .quantity-controls {
    display: none;
    justify-content: space-between;
    align-items: center;
}

.item .quantity-controls button {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.item .quantity-controls span {
    font-size: 18px;
}

#view-trolley-container {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1000;
    text-align: center;
}

#view-trolley {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
    display: none; /* Initially hidden */
}

.badge {
    background-color: #007bff;
    color: white;
    border-radius: 50%; /* Ensures it's circular */
    padding: 5px; /* Adjust padding to make the circle maintain its shape */
    font-size: 35px; /* Increased font size */
    line-height: 1; /* Ensures the text is centered vertically */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px; /* Set the width equal to the height */
    height: 35px; /* Set the height to match the font size */
}