body {
    font-family: Arial, sans-serif;
    background-color: #2a2a2a;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    overflow-x: hidden; /* Prevent horizontal scrolling */
    overflow-y: auto; /* Enable vertical scrolling */
    width: 100vw; /* Ensure body takes full viewport width */
    height: 100vh; /* Ensure body takes full viewport height */
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); /* Adjust grid to be responsive */
    gap: 10px;
    padding: 20px;
    width: 100%;
    box-sizing: border-box; /* Include padding and border in element's total width and height */
}

.item {
    background-color: #1a1a1a;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.item-img {
    font-size: 40px;
    margin-bottom: 10px;
}

.item p {
    margin: 5px 0;
    flex-grow: 1; /* Allows the name and price to grow and fill the space evenly */
    display: flex;
    align-items: center;
    justify-content: center;
}

.item button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    width: 100%; /* Ensure button takes full width */
}

.item .quantity-controls {
    display: none;
    justify-content: space-between;
    align-items: center;
}

.item .quantity-controls button {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.item .quantity-controls span {
    font-size: 18px;
}

#view-trolley {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    text-align: center;
    box-sizing: border-box;
    z-index: 1000; /* Ensure it's always on top */
}

.badge {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: #007bff;
    color: white;
    border-radius: 50%;
    padding: 5px 10px;
}
